body {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
}

p,
dd,
dl {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  display: block;
  border: none;
  max-width: 100%;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

button {
  cursor: pointer;
}
