/* fonts */

@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Medium.woff2") format("woff2"),
    url("./fonts/GeneralSans-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Semibold.woff2") format("woff2"),
    url("./fonts/GeneralSans-Semibold.woff") format("woff");
  font-style: normal;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "General Sans";
  src: url("./fonts/GeneralSans-Bold.woff2") format("woff2"),
    url("./fonts/GeneralSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

/* visually-hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* body */

.no-scroll {
  overflow: hidden;
}

.body {
  font-family: "General Sans";
  font-style: normal;
  color: #58445e;
}

/* container */

.container {
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 1440px) {
  .container {
    width: 1440px;
  }
}

@media (min-width: 1024px) {
  .container {
    min-width: 1024px;
    max-width: 1439px;
    padding: 0 50px;
  }
}

@media (max-width: 1023px) {
  .container {
    width: 390px;
    padding: 0 20px;
  }
}

/* button */

.button {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #58445e;
  background: linear-gradient(183.63deg, #90F3C4 38.29%, #59C090 97.43%);
  border-radius: 14px;
  padding-top: 23px;
  padding-bottom: 23px;
}

.button:focus-visible,
.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button--tg {
  width: 29%;
}

.button--subscribe {
  border-radius: 12px;
  padding: 19px 20px;
}

.button--join {
  background: linear-gradient(204deg, #90f3c4 0%, #59c090 100%);
}

.button--disabled {
  color: rgba(88, 68, 94, 0.4);
  background-color: #dedadf;
  background-image: none;
}

.button--disabled:hover {
  opacity: 1;
}

.button--disabled:active {
  opacity: 1;
}

@media (max-width: 1023px) {
  .button {
    font-size: 14px;
    line-height: 14px;
    padding: 16px 20px;
    border-radius: 8px;
  }

  .button--tg {
    width: auto;
  }

  .button--subscribe {
    padding: 15px 20px;
  }
}

/* title */

.title {
  text-align: center;
  font-weight: 700;
  font-size: 44px;
  line-height: 88px;
  text-transform: uppercase;
}

.title--about {
  line-height: 110%;
}

@media (max-width: 1023px) {
  .title {
    font-size: 28px;
    line-height: 31px;
  }
}

/* subtitle */

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.subtitle--about {
  line-height: 110%
}

@media (max-width: 1023px) {
  .subtitle {
    font-size: 16px;
    line-height: 110%;
  }
}

/* text */

.text {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.text--about {
  line-height: 125%;
}

@media (max-width: 1023px) {
  .text {
    font-size: 12px;
    line-height: 120%;
  }

  .text--about {
    font-size: 14px;
  }
}

/* header */

.header__wrapper {
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  column-gap: 46px;
  justify-content: space-between;
  align-items: center;
  padding-top: 31px;
  padding-bottom: 50px;
  position: relative;
}

.header__logo {
  z-index: 3;
}

@media (max-width: 1023px) {
  .header__wrapper {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

/* logo */

.logo {
  display: inline-block;
}

.logo__img {
  display: block;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

@media (max-width: 1023px) {
  .logo__img {
    width: 133px;
    height: 32px;
  }
}

/* navigation */

.nav__menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
}

.nav__btn {
  display: none;
}

@media (max-width: 1023px) {
  .nav__menu-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: fixed;
    top: -100vh;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    min-height: 100vh;
    padding: 0 20px;
    box-sizing: border-box;
    transition: 0.3s linear;
  }

  .nav__btn {
    display: block;
    width: 26px;
    height: 26px;
    position: absolute;
    right: 20px;
    top: 25px;
    z-index: 3;
  }

  .nav__btn::before,
  .nav__btn::after {
    content: "";
    position: absolute;
    display: block;
    height: 2px;
    width: 100%;
    background-color: #58445e;
    border-radius: 2px;
  }

  .nav__btn::before {
    top: 9px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .nav__btn::after {
    bottom: 6px;
  }

  .nav__social {
    padding: 23px 0 32px 0;
  }
}

.main-menu {
  display: flex;
  column-gap: 37px;
}

.main-menu__link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #58445e;
  padding: 10px 0;
}

.main-menu__link:focus-visible,
.main-menu__link:hover {
  opacity: 0.7;
}

.main-menu__link:active {
  opacity: 0.4;
}

@media (max-width: 1023px) {
  .main-menu {
    flex-direction: column;
    row-gap: 23px;
    width: calc(100% + 40px);
    min-height: 463px;
    padding: 106px 20px 0;
    margin: 0 -20px;
    box-sizing: border-box;
    background-color: #ecfffc;
  }

  .main-menu__link {
    font-size: 24px;
    line-height: 110%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    padding: 0;
  }
}

.user-menu {
  display: none;
}

@media (max-width: 1023px) {
  .user-menu {
    display: flex;
    width: 100%;
    padding: 24px 0 22px;
    border-bottom: 1px solid #dadbdd;
  }

  .user-menu__link {
    font-weight: 600;
    font-size: 20px;
    line-height: 110%;
    color: #58445e;
  }
}

/* social */

.social {
  display: flex;
  column-gap: 28px;
}

.social__link {
  display: flex;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}

.social__link:focus-visible,
.social__link:hover,
.social__link:active {
  background-color: #9deee1;
}

.social__link:active {
  opacity: 0.3;
}

.social__link-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #58445e;
  padding: 10px 0;
}

.social__link:active {
  opacity: 0.3;
}

.social__link--fb {
  mask-image: url("./img/icon/facebook.svg");
  -webkit-mask-image: url("./img/icon/facebook.svg");
}

.social__link--ig {
  mask-image: url("./img/icon/instagram.svg");
  -webkit-mask-image: url("./img/icon/instagram.svg");
}

.social__link--twi {
  mask-image: url("./img/icon/twitter.svg");
  -webkit-mask-image: url("./img/icon/twitter.svg");
}

.social__link--dark {
  background-color: #58445e;
}

@media (min-width: 1024px) {
  .social__item--header {
    display: none;
  }

  .social__link--text {
    width: auto;
    background-color: #ffffff;
    mask-image: none;
    -webkit-mask-image: none;
  }

  .social__link--text:focus-visible,
  .social__link--text:hover {
    background-color: #ffffff;
    opacity: 0.7;
  }

  .social__link--text:active {
    opacity: 0.4;
  }
}

@media (max-width: 1023px) {
  .social {
    column-gap: 16px;
  }

  .social__link {
    width: 24px;
    height: 24px;
    mask-size: 24px 24px;
    -webkit-mask-size: 24px 24px;
  }

  .social__link-text {
    display: none;
  }
}

/* dropdown */

@media (max-width: 1023px) {
  .nav--active .nav__btn::before {
    transform: rotate(45deg);
    top: 12px;
    box-shadow: none;
  }

  .nav--active .nav__btn::after {
    transform: rotate(-45deg);
    bottom: 12px;
  }

  .nav--active .header__wrapper {
    background-color: #ecfffc;
  }

  .nav--active .nav__menu-wrapper {
    top: 0;
  }
}

/* main */

.main__intro {
  margin-bottom: 134px;
}

.main__products {
  margin-bottom: 136px;
}

.main__starting {
  margin-bottom: 98px;
}

.main__options {
  margin-bottom: 128px;
}

.main__features {
  margin-bottom: 140px;
}

.main__hero {
  margin-bottom: 150px;
}

.main__advantages {
  margin-bottom: 212px;
}

.main__goals {
  margin-bottom: 122px;
}

.main__faq {
  margin-bottom: 205px;
}

@media(max-width: 1220px) {
  .main__advantages {
    margin-bottom: 120px;
  }
}

@media(max-width: 1023px) {
  .main__intro {
    margin-bottom: 100px;
  }

  .main__products {
    margin-bottom: 76px;
  }

  .main__starting {
    margin-bottom: 59px;
  }

  .main__options {
    margin-bottom: 13px;
  }

  .main__products {
    margin-bottom: 76px;
  }

  .main__features {
    margin-bottom: 80px;
  }

  .main__hero {
    margin-bottom: 100px;
  }

  .main__advantages {
    margin-bottom: 80px;
  }

  .main__goals {
    margin-bottom: 66px;
  }

  .main__faq {
    margin-bottom: 135px;
  }
}

/* intro */

.intro__wrapper {
  padding-top: 79px;
}

.intro__wrapper-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.intro__wrapper-content::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 218px;
  height: 191px;
  background-image: url("./img/brand-icon/crypto-knight.svg");
}

.intro__title {
  font-weight: 700;
  font-size: 80px;
  line-height: 110%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 5px;
  flex-basis: 91%;
}

@media(max-width: 1260px) {
  .intro__title {
    flex-basis: auto;
  }
}

.intro__subtitle {
  font-weight: 600;
  font-size: 44px;
  line-height: 88px;
  text-align: center;
  margin-bottom: 42px;
  flex-basis: 100%;
}

.intro__button {
  margin-bottom: 114px;
}

.intro__subscribe-wrapper {
  display: flex;
  column-gap: 52px;
  align-items: center;
  padding: 64px 64px 62px 66px;
  background: #ECFFFC;
  border: 1px solid #9DEEE1;
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.95);
  border-radius: 32px;
}

.intro__subscribe-desc {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.intro__br {
  display: none;
}

.intro__subscribe-form {
  align-self: center;
  flex-grow: 1;
  display: flex;
  width: 422px;
  background-color: #ffffff;
  border: 1px solid #9deee1;
  border-radius: 12px;
}

.intro__subscribe-input {
  width: 282px;
  padding-left: 23px;
  padding-right: 28px;
  box-sizing: border-box;
  flex-grow: 1;
}

.intro__subscribe-input::placeholder {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #58445e;
}

@media (max-width: 1023px) {
  .intro__wrapper {
    padding-top: 126px;
  }

  .intro__wrapper-content::before {
    left: 134px;
    top: -119px;
    width: 125px;
    height: 110px;
    background-image: url("./img/brand-icon/crypto-knight.svg");
    background-size: 125px 110px;
  }

  .intro__title {
    font-size: 38px;
    line-height: 42px;
    margin-bottom: 17px;
    flex-basis: 85%;
  }

  .intro__subtitle {
    font-size: 24px;
    line-height: 105%;
    margin-bottom: 32px;
    flex-basis: 70%;
  }

  .intro__button {
    margin-bottom: 71px;
  }

  .intro__subscribe-wrapper {
    flex-direction: column;
    row-gap: 19px;
    padding: 16px;
    border-radius: 16px;
  }

  .intro__subscribe-desc {
    font-size: 14px;
    line-height: 120%;
  }

  .intro__br {
    display: block;
  }

  .intro__subscribe-form {
    width: 100%;
    border-radius: 8px;
  }

  .intro__subscribe-input {
    width: 208px;
    padding: 0 16px;
  }

  .intro__subscribe-input::placeholder {
    font-size: 12px;
    line-height: 100%;
  }
}

/* products */

.products__title {
  margin-bottom: 24px;
}

.products__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products__item {
  position: relative;
  flex-basis: calc(50% - 26px);
  padding: 60px 163px 50px 65px;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.products__item::after {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 2px;
  width: 153px;
  height: 153px;
  border: 1px solid #9deee1;
  border-radius: 32px;
  box-sizing: border-box;
  background-color: #ecfffc;
  background-position: center;
  background-repeat: no-repeat;
}

.products__item--ethereum {
  background-image: url("./img/decor/bg-products--ethereum.svg");
}

.products__item--ethereum::after {
  background-image: url("./img/icon/ethereum.svg");
}

.products__item--bitcoin {
  background-image: url("./img/decor/bg-products--btc.svg");
  padding-right: 205px;
}

.products__item--bitcoin::after {
  background-image: url("./img/icon/bitcoin.svg");
}

.products__subtitle {
  margin-bottom: 22px;
}

.products__desc-list {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  margin-bottom: 40px;
}

.products__desc-item {
  position: relative;
  padding-left: 29px;
}

.products__desc-item::before {
  content: "";
  position: absolute;
  top: 7px;
  left: 0;
  width: 9px;
  height: 9px;
  border-radius: 14px;
  background-image: linear-gradient(183.63deg, #90f3c4 38.29%, #59c090 97.43%)
}

.products__button {
  padding: 12px 68px;
}

@media (max-width: 1439px) {
  .products__list {
    flex-direction: column;
    align-items: center;
    row-gap: 25px;
  }

  .products__item {
    width: 642px;
    flex-basis: auto;
  }
}

@media (max-width: 1023px) {
  .products__list {
    flex-direction: row;
    row-gap: 25px;
  }


  .products__item {
    flex-basis: 100%;
    padding: 16px 88px 16px 16px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url("./img/decor/bg-products-mob.svg");
    background-size: 350px 232px;
  }

  .products__item::after {
    right: 15px;
    bottom: 2px;
    width: 80px;
    height: 80px;
    border: 1px solid #9deee1;
    border-radius: 16px;
  }

  .products__item--ethereum::after,
  .products__item--bitcoin::after {
    background-size: 33%;
  }

  .products__item--bitcoin {
    padding-right: 114px;
  }

  .products__subtitle {
    margin-bottom: 12px;
  }

  .products__desc-list {
    row-gap: 12px;
    margin-bottom: 24px;
  }

  .products__desc-item {
    padding-left: 16px;
  }

  .products__desc-item::before {
    top: 2px;
    left: 0;
    width: 5px;
    height: 5px;
    border-radius: 14px;
  }

  .products__button {
    padding: 12px 32px;
  }
}

/* starting */

.starting {
  padding-top: 90px;
  padding-bottom: 105px;
  box-sizing: border-box;
  background-color: #ecfffc;
  border-top: 1px solid #9deee1;
  border-bottom: 1px solid #9deee1;
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.95);
  background-image: url("img/decor/bg-starting.svg"),
    url("img/decor/bg-starting.svg");
  background-position: bottom -34px left -340px, top -262px right -245px;
  ;
  background-repeat: no-repeat;
  background-image: url("./img/decor/bg-started-desk.svg");
}

.starting__title {
  line-height: 60px;
  margin-bottom: 93px;
}

.starting__list {
  display: flex;
  column-gap: 45px;
}

.starting__item {
  position: relative;
  flex-basis: calc(33% - 25px);
  padding: 73px 105px 92px 65px;
  box-sizing: border-box;
  background-image: url("./img/decor/bg-content-started-desk.svg");
  background-repeat: no-repeat;
}

.starting__item::before {
  position: absolute;
  bottom: 8px;
  right: 41px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 60px;
  color: #58445e;
}

.starting__item--sign-up {
  padding: 65px 86px 50px 65px;
}

.starting__item--sign-up::before {
  content: "01";
}

.starting__item--sign-up::after {
  content: "";
  position: absolute;
  top: -59px;
  right: 41px;
  width: 115px;
  height: 130px;
  background-image: url("./img/brand-icon/crying-knight.svg");
  background-repeat: no-repeat;
}

.starting__item--fund::before {
  content: "02";
}

.starting__item--fund::after {
  content: "";
  position: absolute;
  top: -61px;
  right: 37px;
  width: 95px;
  height: 122px;
  background-image: url("./img/brand-icon/fire-knight.svg");
  background-repeat: no-repeat;
}

.starting__item--start::before {
  content: "03";
}

.starting__item--start::after {
  content: "";
  position: absolute;
  top: -38px;
  right: 25px;
  width: 121px;
  height: 99px;
  background-image: url("./img/brand-icon/coin-knight.svg");
  background-repeat: no-repeat;
}

.starting__subtitle {
  margin-bottom: 8px;
}

.starting__link {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #78ddae;
  margin-top: 18px;
}

@media (max-width: 1439px) {
  .starting__list {
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
  }

  .starting__item {
    width: 417px;
    flex-basis: auto;
  }
}

@media (max-width: 1023px) {
  .starting {
    padding-top: 40px;
    padding-bottom: 56px;
    background-image: none;
  }

  .starting__title {
    margin-bottom: 11px;
  }

  .starting__list {
    flex-wrap: wrap;
    row-gap: 14px;
  }

  .starting__item {
    padding: 20px 16px 25px 110px;
    flex-basis: 100%;
    background-image: url("./img/decor/bg-content-started-mob.svg");
  }

  .starting__item--sign-up {
    padding-bottom: 20px;
    padding-right: 33px;
    background-image: url("./img/decor/bg-content-started--signup.svg");
  }

  .starting__break {
    display: none;
  }

  .starting__item--sign-up::after {
    content: "";
    position: absolute;
    top: 25px;
    left: -4px;
    width: 84px;
    height: 95px;
    background-image: url("./img/brand-icon/crying-knight.svg");
    background-size: contain;
  }

  .starting__item--fund::after {
    content: "";
    position: absolute;
    top: 3px;
    left: 11px;
    width: 73px;
    height: 93px;
    background-image: url("./img/brand-icon/fire-knight.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .starting__item::before {
    font-size: 16px;
    line-height: 16px;
    bottom: 4px;
    right: 17px;
  }

  .starting__item--start::after {
    content: "";
    position: absolute;
    top: 21px;
    left: -4px;
    width: 89px;
    height: 72px;
    background-image: url("./img/brand-icon/coin-knight.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }

  .starting__desc {
    font-size: 14px;
    line-height: 17px;
  }

  .starting__link {
    font-size: 14px;
    line-height: 15px;
    margin-top: 10px;
  }
}


/* options */

.options__wrapper {
  padding-top: 44px;
  padding-bottom: 44px;
  background-image: url("img/decor/bg-options.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 382px 391px;
}

.options__title {
  margin-bottom: 3px;
}

.options__specificity {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  width: 60%;
  margin: 0 auto 66px;
}

.opsions__spec-br {
  display: none;
}

@media (max-width: 1280px) {
  .options__specificity {
    width: 73%;
  }
}

.options__img {
  margin: 0 auto 38px;
}

.options__list {
  display: flex;
  justify-content: center;
  column-gap: 124px;
}

.options__item--problem {
  width: 332px;
  margin-left: 80px;
}

.options__item--solution {
  width: 362px;
}

.options__subtitle {
  margin-bottom: 6px;
}

@media (max-width: 1439px) {
  .options__br {
    display: none;
  }
}

@media (max-width: 1023px) {

  .options__wrapper {
    padding-top: 66px;
    padding-bottom: 66px;
    background-size: 235px 241px;
  }

  .options__title {
    margin-bottom: 16px;
  }

  .options__specificity {
    font-size: 15px;
    line-height: 19px;
    text-align: center;
    width: 89%;
    margin: 0 auto 22px;
  }

  .opsions__spec-br {
    display: block;
  }

  .options__img {
    width: 350px;
    height: 162px;
    margin: 0 auto 32px;
  }

  .options__list {
    display: flex;
    flex-direction: column;
    row-gap: 21px;
    padding: 0 16px;
  }

  .options__item {
    width: auto;
    margin-left: 0;
  }

  .options__subtitle {
    margin-bottom: 8px;
  }

  .options__desc {
    font-size: 14px;
    line-height: 120%;
  }
}

/* features */

.features {
  background: #ecfffc;
  border-top: 1px solid #9deee1;
  border-bottom: 1px solid #9deee1;
  box-shadow: inset -4px -4px 4px rgba(255, 255, 255, 0.95);
  padding-top: 55px;
  padding-bottom: 85px;
}

.features__title {
  margin-bottom: 25px;
}

.features__wrapper-content {
  display: flex;
  justify-content: center;
  column-gap: 61px;
}

.features__icon {
  width: 458px;
  height: 426px;
  margin-left: 59px;
  flex-shrink: 0;
  background-image: url("./img/brand-icon/guarding-knight.svg");
  background-repeat: no-repeat;
}

.features__list {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
  margin-top: 38px;
  width: 515px;
}

.features__subtitle {
  margin-bottom: 5px;
}

@media (max-width: 1280px) {
  .features__wrapper-content {
    column-gap: 45px;
  }

  .features__icon {
    margin-left: 0;
  }

  .features__list {
    padding-right: 16px;
  }

  .features__br {
    display: none;
  }
}

@media (max-width: 1023px) {
  .features {
    padding-top: 40px;
    padding-bottom: 47px;
  }

  .features__title {
    margin-bottom: 16px;
  }

  .features__icon {
    width: 312px;
    height: 289px;
    background-size: 312px 289px;
    margin-left: 11px;
  }

  .features__wrapper-content {
    flex-direction: column;
    row-gap: 26px;
  }

  .features__list {
    width: 286px;
    margin: 0 auto;
    padding: 0;
    row-gap: 20px;
  }

  .features__subtitle {
    font-size: 18px;
    line-height: 19px;
    margin-bottom: 8px;
  }

  .features__desc {
    font-size: 14px;
    line-height: 17px;
  }
}



/* footer */

.footer {
  padding-top: 56px;
  padding-bottom: 36px;
  background-color: #6b6f7b;
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 82px 146px 100px 1fr;
  grid-template-rows: 89px;
}

.footer__logo {
  grid-area: 1/1/2/3;
}

.footer__social {
  grid-area: 2/2/3/3;
  display: flex;
}

.footer__menu {
  grid-area: 1/4/3/5;
  margin-bottom: 80px;
}

.footer__copyright {
  position: relative;
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
  grid-area: 3/1/4/-1;
}

.footer__copyright::before {
  position: absolute;
  content: "";
  height: 2px;
  right: 3px;
  left: -2px;
  top: -34px;
  background-color: #ffffff;
}

@media (max-width: 1023px) {

  .footer {
    padding-top: 36px;
  }

  .footer__wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }

  .footer__logo {
    grid-area: 2/1/3/2;
    margin-bottom: 36px;
  }

  .footer__social {
    margin-left: auto;
  }

  .footer__menu {
    grid-area: 1/1/2/-1;
    margin-bottom: 55px;
  }

  .footer__copyright {
    position: relative;
    font-size: 11px;
    line-height: 12px;
    grid-area: 3/1/4/-1;
  }

  .footer__copyright::before {
    height: 1px;
    top: -18px;
    left: 0;
    right: 0;
  }
}

/* site-menu */

.site-menu {
  display: flex;
  justify-content: flex-end;
  column-gap: 64px;
}

.site-menu__item {
  padding-top: 12px;
}

.site-menu__item--legal {
  margin-right: 22px;
}

.site-menu__title {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  margin-bottom: 34px;
  color: #ffffff;
}

.site-menu__submenu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.site-menu__submenu-link {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.4);
}

.site-menu__submenu-link:focus-visible,
.site-menu__submenu-link:hover,
.site-menu__submenu-link:active {
  color: #9deee1;
}

.site-menu__submenu-link:active {
  opacity: 0.3;
}

@media (max-width: 1023px) {
  .site-menu {
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 40px;
  }

  .site-menu__item {
    padding: 0 0 0 16px;
    flex-basis: calc(50% - 15px);
    flex-grow: 1;
    box-sizing: border-box;
  }

  .site-menu__title {
    font-size: 16px;
    line-height: 17px;
    margin-bottom: 17px;
  }

  .site-menu__submenu {
    row-gap: 6px;
  }

  .site-menu__submenu-link {
    font-size: 16px;
    line-height: 17px;
  }
}

/* hero */

.hero__title {
  text-align: center;
  font-size: 72px;
  font-weight: 700;
  line-height: 110%;
  text-transform: uppercase;
  max-width: 1222px;
  margin: 97px auto 32px auto;
}

.hero__subtitle {
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  line-height: 115%;
  margin-bottom: 140px;
}

.hero__list {
  display: flex;
  column-gap: 4.1%;
}

.hero__item {
  background-color: #ecfffc;
  border: solid 1px #9deee1;
  box-shadow: -4px -4px 4px 0px rgba(255, 255, 255, 0.95) inset;
  border-radius: 30px;
  padding: 48px 58px 48px 66px;
  flex-basis: 47%;
}

.hero__desc {
  font-size: 24px;
  font-weight: 500;
  line-height: 125%;
}

@media (max-width: 1023px) {
  .hero__title {
    font-size: 28px;
    line-height: 35px;
    margin: 45px auto 18px auto;
  }

  .hero__subtitle {
    font-size: 24px;
    line-height: 105%;
    margin-bottom: 51px;
  }

  .hero__desc {
    font-size: 14px;
    line-height: 125%;
  }

  .hero__list {
    flex-direction: column;
    row-gap: 25px;
  }

  .hero__item {
    padding: 20px 24px;
    border-radius: 16px;
    flex-basis: auto;
  }
}


/* advantages */

.advantages__title {
  margin-bottom: 42px;
}

.advantages__list {
  display: grid;
  grid-template-columns: 33% 1fr 33%;
  grid-template-rows: auto auto;
  row-gap: 50px;
  padding: 51px;
  background-image: url("./img/brand-icon/green-knight.png");
  background-position: center center;
  background-repeat: no-repeat;
}

.advantages__item--solutions {
  grid-area: 1 / 1 / 2 / 2;
  text-align: right;
}

.advantages__item--approach {
  grid-area: 1 / 3 / 2 / 4;
}

.advantages__item--innovation {
  grid-area: 2 / 1 / 3 / 2;
  text-align: right;
}

.advantages__item--safety {
  grid-area: 2 / 3 / 3 / 4;
}

.advantages__subtitle {
  margin-bottom: 12px;
}

@media (max-width: 1339px) {
  .advantages__list {
    padding: 50px 0;
  }
}

@media (max-width: 1199px) {
  .advantages__list {
    padding-top: 30px;
    padding-bottom: 30px;
    row-gap: 35px;
    background-size: 280px 280px;
  }

  .advantages__subtitle {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .advantages__desc {
    font-size: 17px;
    line-height: 22px;
  }
}

@media (max-width: 1023px) {
  .advantages__title {
    margin-bottom: 33px;
  }

  .advantages__list {
    max-height: 200px;
    overflow: scroll;
    padding: 0;
    padding-left: calc(50% + 10px);
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    background-size: 167px;
    background-position: left top;
  }

  .advantages__item {
    text-align: left;
  }

  .advantages__subtitle {
    margin-bottom: 10px;
  }

  .advantages__desc {
    font-size: 14px;
    line-height: 120%;
  }

  .advantages__subtitle {
    font-size: 16px;
    line-height: 110%;
  }
}

/* goals */

.goals {
  padding-top: 64px;
  padding-bottom: 103px;
  background-color: #ecfffc;
  border-top: solid 1px #9deee1;
  border-bottom: solid 1px #9deee1;
  box-shadow: 0 -4px 4px 0px rgba(255, 255, 255, 0.95) inset;
}

.goals__title {
  margin-bottom: 51px;
}

.goals__list {
  display: flex;
  column-gap: 43px;
}

.goals__item {
  max-width: 417px;
  box-sizing: border-box;
  padding: 44px 87px 52px 66px;
  background-color: #fff;
  border-radius: 30px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  row-gap: 16px;
  flex-shrink: 0;
}

.goals__subtitle {
  flex-basis: 70%;
}

.goals__text {
  flex-basis: 92%;
}

.goals__item--commitment .goals__text {
  flex-basis: auto;
}

@media (max-width: 1439px) {
  .goals__item {
    flex: 30% 1 1;
  }

  .goals__text {
    flex-basis: auto;
  }
}

@media (max-width: 1273px) {
  .goals {
    padding-top: 54px;
    padding-bottom: 80px;
  }

  .goals__list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 40px;
    column-gap: 50px;
  }

  .goals__item {
    flex-basis: 35%;
  }

  .goals__text {
    flex-basis: 92%;
  }
}

@media (max-width: 1023px) {
  .goals {
    padding-top: 40px;
    padding-bottom: 56px;
  }

  .goals__title {
    margin-bottom: 20px;
  }

  .goals__list {
    flex-direction: column;
    row-gap: 20px;
  }

  .goals__item {
    padding: 20px 31px 20px 24px;
    border-radius: 16px;
    flex-basis: auto;
  }

  .goals__text {
    flex-basis: auto;
  }
}

/* join */

.join {
  background-color: #ecfffc;
  background-image: url("./img/decor/bg-join-us.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-top: solid 1px #9deee1;
  box-shadow: 0 -4px 4px 0px rgba(255, 255, 255, 0.95) inset;
  padding-top: 220px;
  padding-bottom: 177px;
  position: relative;
}

.join::before {
  position: absolute;
  content: "";
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 123px;
  height: 144px;
  background-image: url("./img/brand-icon/guard-knight.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.join__title {
  margin-bottom: 20px;
}

.join__subtitle {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  line-height: 115%;
  margin-bottom: 40px;
}

.join__button {
  margin: 0 auto;
  display: block;
  width: 368px;
}

@media (max-width: 1023px) {
  .join {
    padding-top: 100px;
    padding-bottom: 90px;
    background-image: none;
  }

  .join::before {
    width: 82px;
    height: 96px;
    background-image: url("./img/brand-icon/guard-knight.svg");
    background-size: 82px 96px;
  }

  .join__subtitle {
    font-size: 18px;
  }

  .join__button {
    width: max-content;
  }

  .join__br {
    display: none;
  }
}

/* FAQ */

.faq__title {
  margin-bottom: 33px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  padding: 0 152px
}

.faq__item {
  padding: 39px 35px 40px 50px;
  border-radius: 24px;
  border: 1px solid rgba(157, 238, 225, 0.4);
}

.faq__item--active {
  border-radius: 32px;
  border-color: #9deee1;
  background-color: #ecfffc;
  box-shadow: 15.5px 15.5px 30.9px 0px #D3EDE9 inset, -5.2px -5.2px 5.2px 0px rgba(255, 255, 255, 0.95) inset;
}

.faq__row {
  display: flex;
  justify-content: space-between;
  column-gap: 60px;
  align-items: center;
  width: 100%;
  font-size: 28px;
  line-height: 31px;
  font-weight: 600;
  color: #58445e;
  font-family: inherit;
  text-align: start;
}

.faq__item--active .faq__row {
  margin-bottom: 20px;
}

.faq__toggle {
  width: 20px;
  height: 20px;
  position: relative;
}

.faq__item--active .faq__toggle {
  transform: rotate(45deg);
}

.faq__toggle::before,
.faq__toggle::after {
  position: absolute;
  content: "";
  top: calc(50% - 2px);
  left: 0;
  width: 20px;
  height: 4px;
  background-color: #5ac191;
}

.faq__toggle::after {
  transform: rotate(90deg);
}

.faq__item--active .faq__toggle::before,
.faq__item--active .faq__toggle::after {
  background-color: #58445e;
}

.faq__content {
  padding-right: 34px;
  overflow: hidden;
  height: 0;
  transition: height 0.5s;
}

@media (max-width: 1279px) {
  .faq__list {
    padding: 0 50px;
  }
}

@media (max-width: 1023px) {
  .faq__list {
    padding: 0;
  }

  .faq__item {
    padding: 20px;
    padding-right: 40px;
    border-radius: 16px;
  }

  .faq__row {
    min-height: 40px;
    font-size: 18px;
    line-height: 110%;
    position: relative;
  }

  .faq__item--active .faq__row {
    margin-bottom: 12px;
    min-height: auto;
  }

  .faq__toggle {
    position: absolute;
    top: calc(50% - 8px);
    right: -30px;
  }

  .faq__toggle::before,
  .faq__toggle::after {
    width: 15px;
    height: 3px;
  }
}